<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
    />
    <title>{{ name }}'s Watchlist</title>
  </head>
  <body>
    <h2>
      <img
        class="avatar"
        src="{{ url_for('static', filename='images/avatar.png')}}"
        alt="Avatar"
      />
      {{ name }}'s Watchlist
    </h2>
    {# 获取movies的长度 #}
    <p>{{ movies|length }} Titles</p>
    <ul class="movie-list">
      {% for movie in movies %}
      <li>{{ movie.title }} - {{ movie.year }}</li>
      {# 等同于movie['title'] #} {% endfor %}
    </ul>
    <img
      class="totoro"
      src="{{ url_for('static', filename='images/totoro.gif') }}"
      alt="Walking Totoro"
    />
    <footer>
      <small
        >&copy; 2024
        <a href="http://helloflask.com/book/3">Hello Flask</a></small
      >
    </footer>
  </body>
</html>
